/* .crystalOne{
   height: 5px;
   width: 25%;
}
.crystalTwo{
    height: 5px;
    width: 25%;
 }
 .crystalThree{
    height: 5px;
    width: 25%;
 }
 .crystalFour{
    height: 5px;
    width: 25%;
 } */